.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* ---------------------------------------------------------------------- */


.categorySelect{
background: #eee;
}

.categorySelect-selected{
  background-color: #3571d3;
  border-color: #00348a;
  color: white;
}

.warranty-card-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 12px;
}

@media (max-width: 1600px) {
  .warranty-card-list {
    grid-template-columns: repeat(3, 1fr); /* 2 per row for tablet size */
  }
}

@media (max-width: 1160px) {
  .warranty-card-list {
    grid-template-columns: repeat(2, 1fr); /* 2 per row for tablet size */
  }
}

@media (max-width: 688px) {
  .warranty-card-list {
    grid-template-columns: 1fr; /* 1 per row for mobile size */
  }
}

.warranty-card {
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 3px 4px 2px 2px #f6f6f6;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  max-width: 100%;
  flex-direction: row;
}
